#textboxid {
    height: 200px;
    width: 400px;
    font-size: 14pt;
    text-align: center;
}

.form {

    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

body {
    font-family: "Lato", sans-serif;
}